<div class="form">
    <h1>Add word</h1>
    <form action="post-word" method="POST">
        <input type="text" name="maori" placeholder="Maori word" required>
        <input type="text" name="english" placeholder="English translation" required>
        <textarea  name="definition" placeholder="Definition" required></textarea>
        <p class="section-header">Category</p>
        <select name="category" required>
            {{#each categoryResult.rows}}
            <option value="{{this.category_name}}">{{this.category_name}}</option>
            {{/each}}
        </select>
        <p class="section-header">Year level</p>
        <input type="number" name="level" value="1" min="1" max="10" required>

        <input type="submit">
    </form>
</div>


<br><br><br>
<div class="form">
    <h1>Create new category</h1>
    <form action="post-category" method="POST">
        <input type="text" name="categoryName" placeholder="Category name" required>
        <input type="submit">
    </form>
</div>
